# Third Session

## What is python? part 3

### The difference between sequential data types

In [47]:
string1 = "hello"
print(string1)

hello

In [48]:
string1 * 5

'hellohellohellohellohello'

In [49]:
string1.replace("h", "m")

'mello'

In [50]:
string1

'hello'

### The string variable didn't change even though we replaced h with m

In [51]:
list1 = list(string1)
list1

['h', 'e', 'l', 'l', 'o']

In [52]:
list1.append("w")

In [53]:
list1

['h', 'e', 'l', 'l', 'o', 'w']

### The list variable changed

In [54]:
string1 = string1.replace("h", "m")
string1

'mello'

### Redefining the string variable

In [55]:
string1
list1

['h', 'e', 'l', 'l', 'o', 'w']

In [56]:
print(string1)
print(list1)

mello
['h', 'e', 'l', 'l', 'o', 'w']

## How to change h to m in the list above?

In [57]:
list1.remove("h")

In [58]:
list1

['e', 'l', 'l', 'o', 'w']

In [59]:
list1.insert(0, "m")

In [60]:
print(list1)

['m', 'e', 'l', 'l', 'o', 'w']

In [61]:
tuple(list1)

('m', 'e', 'l', 'l', 'o', 'w')

In [106]:
o = tuple(list1)
o[0]

'm'

In [63]:
tuple(list1).count("l")

2

In [115]:
tuple(list1).append("30") #tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

## Mapping Data types

In [67]:
{}

{}

In [68]:
type({})

dict

In [75]:
numbers_of_ballon_dors = dict(messi = 8, rodri = 1) #dict function

In [76]:
numbers_of_ballon_dors

{'messi': 8, 'rodri': 1}

In [77]:
numbers_of_ballon_dors["messi"]

8

## How to add an item to a dictionary?

In [114]:
numbers_of_ballon_dors["Ronaldo"] = 5 #"Ronaldo" is key, 5 is value

In [93]:
numbers_of_ballon_dors

{'messi': 8, 'rodri': 1, 'Ronaldo': 5}

In [94]:
numbers_of_ballon_dors[1] = "Kaka"

In [95]:
numbers_of_ballon_dors

{'messi': 8, 'rodri': 1, 'Ronaldo': 5, 1: 'Kaka'}

## Key, Value

In [74]:
#dir(dict)

## dictionary methods

'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [78]:
macro_data = {"unemployment_usa" : 3.7, "unemployment_switzerland" : 2.5}

In [79]:
macro_data

{'unemployment_usa': 3.7, 'unemployment_switzerland': 2.5}

## Nested dictionaries

### .clear() method

In [80]:
macro_data.clear()

In [81]:
macro_data

{}

In [82]:
macro_data = {"USA" : {"Inflation 2022" : 8.0, "unemployment 2022" : 3.7},
              "Switzerland" : {"Inflation 2022": 3.4, "unemployment 2022": 2.5}}

In [83]:
print(macro_data)

{'USA': {'Inflation 2022': 8.0, 'unemployment 2022': 3.7}, 'Switzerland': {'Inflation 2022': 3.4, 'unemployment 2022': 2.5}}

### .items()

In [84]:
macro_data.items()

dict_items([('USA', {'Inflation 2022': 8.0, 'unemployment 2022': 3.7}), ('Switzerland', {'Inflation 2022': 3.4, 'unemployment 2022': 2.5})])

In [85]:
len(macro_data.items())

2

### .keys() method

In [86]:
macro_data.keys()

dict_keys(['USA', 'Switzerland'])

### .values() method

In [87]:
macro_data.values()

dict_values([{'Inflation 2022': 8.0, 'unemployment 2022': 3.7}, {'Inflation 2022': 3.4, 'unemployment 2022': 2.5}])

In [88]:
macro_data["USA"]

{'Inflation 2022': 8.0, 'unemployment 2022': 3.7}

In [89]:
macro_data["USA"].items()

dict_items([('Inflation 2022', 8.0), ('unemployment 2022', 3.7)])

In [90]:
len(macro_data["USA"].items())

2

In [91]:
print(macro_data["USA"].values())
print(macro_data["USA"].keys())

dict_values([8.0, 3.7])
dict_keys(['Inflation 2022', 'unemployment 2022'])

## How to add items to nested dictionaries?

In [100]:
macro_data["Japan"] =  "inflation rate 1.3"

In [101]:
macro_data

{'USA': {'Inflation 2022': 8.0, 'unemployment 2022': 3.7},
 'Switzerland': {'Inflation 2022': 3.4, 'unemployment 2022': 2.5},
 'Japan': 'inflation rate 1.3'}

 - 'Japan': 'inflation rate 1.3' is not a dictionary but just an item of macro_data

In [102]:
macro_data["Japan"] = {}

In [103]:
macro_data["Japan"]["Inflation sep 2024"] = 1.3
macro_data["Japan"]["unempolyment sep 2024"] = 62

print(macro_data)

{'USA': {'Inflation 2022': 8.0, 'unemployment 2022': 3.7}, 'Switzerland': {'Inflation 2022': 3.4, 'unemployment 2022': 2.5}, 'Japan': {'Inflation sep 2024': 1.3, 'unempolyment sep 2024': 62}}

### .popitem() method

In [110]:
macro_data.popitem()

('Japan', {'Inflation sep 2024': 1.3, 'unempolyment sep 2024': 62})

In [111]:
macro_data

{'USA': {'Inflation 2022': 8.0, 'unemployment 2022': 3.7},
 'Switzerland': {'Inflation 2022': 3.4, 'unemployment 2022': 2.5}}

## .pop() method

In [112]:
macro_data.pop("Switzerland")

{'Inflation 2022': 3.4, 'unemployment 2022': 2.5}

In [113]:
macro_data

{'USA': {'Inflation 2022': 8.0, 'unemployment 2022': 3.7}}

# Exercise:

- The first, second, third, and fourth items of the lists below are related to India, Brazil, Nigeria, and Australia, respectively.

1. Create a nested dictionary.
2. Remove Nigeria.
3. Add any country you like (use arbitrary values).
4. Using a function, calculate the number of items in this dictionary.
5. What is the total number of items?

In [116]:
countries = ["India", "Brazil", "Nigeria", "Australia"]
population_growth_rates = [1.2, 0.8, 1.5, 1.1]
literacy_rates = [74.4, 92.6, 62.0, 99.0]
life_expectancy = [69.7, 75.5, 54.3, 82.9]